@using RoleProject.Models
@model RoleProject.Models.Agince

@{
    ViewBag.Title = "Details";
   
   
}

<h2>Details</h2>

<div>
    <h4>Agince</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo_Agince)
        </dt>
        <dd>
            <img src="~/images/@Model.photo_Agince"  width = "150"  height = "150" style="border-radius:50%" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone_number)
        </dt>
            <dd>
                @Model.phone_number
            </dd>
        <dd>
           @Model.city
        </dd>
        <dd>
            @Model.street
        </dd>
    </dl>
</div>

<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
